@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutLOLPage.cshtml";
}

@if (TempData["LoggedIn"] != null)
{
    <p class="alert alert-danger">@TempData["LoggedIn"]</p>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a test</p>
</div>
